:root {
  --main-bg-color: white;
  --main-text-color: black;
  --secondary-bg-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(0, 0, 0);
}
.dark {
  --main-bg-color: black;
  --main-text-color: white;
  --secondary-bg-color: rgb(0, 0, 0);
  --secondary-text-color: rgb(255, 255, 255);
}
body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}
h1 {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
p{
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
.card{
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
